:root{
  --i: #0F3560;
  --ii: #3C6385;
  --iii: #6991A9;
  --iv: #95BFCE;
  --v: #C2EDF2;
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

html {
  background: linear-gradient(var(--v), var(--iii)) no-repeat center center fixed;
  background-repeat: no-repeat;
  font-family: Inter, sans-serif;
}

.nav {
  display: flex;
  justify-content: center;
  
}

nav {
  text-align: center;
  position:fixed;
  top: 0;
  background: linear-gradient(var(--ii), var(--i));
  border-radius: 0px 0px 64px 64px;
  padding: 24px 0%;
  margin: 0% 0% 10% 0%;
  width: 80%;
  min-width: 720px;
  color: var(--v);
}

nav a {
  display: inline-block;
  color: var(--v);
  font-size: 24px;
  margin: 8px 8px 0px 8px;
  padding: 8px;
  border-radius: 16px;
  text-decoration: none;
  font-weight: 600;
}

a:hover { color: var(--i); background-color: var(--v); transition: 0.25s;} 

nav b {
  font-size: 5em;
  font-weight: 900;
}

.sp {
  display: block;
  margin: 160px 0px;
}

p {
  font-size: 24px;
  color: var(--i);
  text-align: justify;
  padding: 16px 0px;
  line-height: 32px;}


.cont { 
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}

.cu { width: 60%;
  max-width: 600px;
  color: var(--i);
  background-color: rgb(194, 237, 242, 0.5);
padding: 0% 5%;
margin: 2.5% 0% 0% 0%;
border-radius: 64px;
}

.members {
  width: 80%;
  max-width: 800px;
  color: var(--i);
  background-color: rgb(194, 237, 242, 0.5);
  padding: 0% 2.5%;
  margin: 2.5% 0% 0% 0%;
  border-radius: 64px;
 
}

h1 {
  text-align: center;
  color: var(--v);
  background-color: var(--i);
  padding: 8px;
  border-radius: 64px;
  font-size: 3em;
}

h2 {
  text-align: center;
  color: var(--v);
  background: linear-gradient(var(--ii), var(--i));
  padding: 16px;
  width: fit-content;
  border-radius: 64px;
  font-size: 2em;

}

img { 
  width: 200px;
  border-radius: 100px;
  float: right;
  margin: 0px 16px;
  border: var(--ii) solid 5px;
}

.mem {
  background-color: rgb(194, 237, 242, 0.5);
  padding: 5%;
  margin: 2.5%;
  border-radius: 64px;
}
