:root{
  --i: #0B0A2D;
  --ii: #121B57;
  --iii: #193A82;
  --iv: #3DA457;
  --v: #68C96B;
  --vi: #A9F19B;
  --vii: #F2FFF3;
}

html {
  background: linear-gradient(var(--i), var(--ii)) no-repeat center center fixed;
  background-repeat: no-repeat;
  font-family: Inter, sans-serif;
}


.nav {
  display: flex;
  justify-content: center;
}
nav {
  text-align: center;
  position:fixed;
  top: 0;
  background: linear-gradient(var(--iv), var(--ii));
  border-radius: 0px 0px 10px 10px;
  padding: 24px 0%;
  margin: 0% 0% 10% 0%;
  width: 80%;
  min-width: 720px;
  color: var(--vii);
}

nav a {
  display: inline-block;
  color: var(--vii);
  font-size: 24px;
  margin: 8px 8px 0px 8px;
  padding: 8px;
  border-radius: 16px;
  text-decoration: none;
  font-weight: 600;
}

a:hover { color: var(--iii); background-color: var(--vii); transition: 0.25s;} 

nav b {
  font-size: 4em;
  font-weight: 900;
}

.sp {
  display: block;
  margin: 160px 0px;
}

p {
  font-size: 24px;
  color: var(--vii);
  text-align: justify;
  padding: 24px 0px;
  line-height: 32px;}


.cont { 
  display: flex;
  justify-content: center;
}

.cu { width: 80%;
  max-width: 1000px;
  color: var(--vii);}




