:root{
  --i: #0F3560;
  --ii: #3C6385;
  --iii: #6991A9;
  --iv: #95BFCE;
  --v: #C2EDF2;
  --ih: rgb(194, 237, 242, 0.5);

  --rad: 16px;

  --an1: #f4f4f4;  --an2: #84616e;  --an3: #194868;  --anb: #BCABB1;
  --sh1: #f4f4f4;  --sh2: #515151;  --sh3: #222222;  --shb: #A3A3A3;
  --za1: #fff2e3;  --za2: #923a3b;  --za3: #130804;  --zab: #C9968F;
  --ar1: #d8dee5;  --ar2: #4b696b;  --ar3: #1b3436;  --arb: #92A4A8;
  --ca1: #d8e3f3;  --ca2: #508eb7;  --ca3: #0a3466;  --cab: #94B9D5;
  --ch1: #eff4f5;  --ch2: #688295;  --ch3: #424651;  --chb: #ACBBC5;
  --gi1: #ffffff;  --gi2: #b5925a;  --gi3: #43485b;  --gib: #DAC9AD;
  --ju1: #f5f6f5;  --ju2: #65707a;  --ju3: #2b323c;  --jub: #ADB3B8;
  --kn1: #eae9e4;  --kn2: #608190;  --kn3: #243b49;  --knb: #A5B5BA;
  --ra1: #fefefe;  --ra2: #5b7e43;  --ra3: #26341d;  --rab: #ADBEA1;

  font-family: 'Inter', sans-serif;
}


@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

* {
  text-decoration: none;
  scroll-behavior: smooth;
}

html {
  background: linear-gradient(var(--v), var(--iii))  no-repeat center center fixed;
  background-repeat: no-repeat;
  font-family: Inter, sans-serif;
}

.nav {
  display: flex;
  justify-content: center;
}


nav {
  text-align: center;
  position:fixed;
  top: 0;
  background: linear-gradient(var(--ii), var(--i));
  border-radius: 0px 0px var(--rad) var(--rad);
  padding: 24px 0%;
  margin: 0% 0% 10% 0%;
  width: 80%;
  min-width: 720px;
  color: var(--v);
  box-shadow: 0px 8px 2em var(--i);
  z-index: 100;
}

nav a {
  display: inline-block;
  color: var(--v);
  font-size: 1.5em;
  margin: 8px 8px 0px 8px;
  padding: 8px;
  border-radius: var(--rad);
  text-decoration: none;
  font-weight: 600;
}

nav a:hover {
  color: var(--i);
  background-color: var(--v);
  box-shadow: 0px 0px 8px var(--iv);
  transition: 0.5s;
}


nav b {
  font-size: 3.5em;
  font-weight: 1000;
  font-family: 'Source Code Pro', monospace;
}

nav b.subhead {
  display: inline-block;
  align-self: center;
  font-size: 2.5em;
  background:#C2EDF220;
  border-radius: var(--rad);
  padding: 0.125em 0.5em;
  margin: 0.125em 0.5em;
}

nav b:hover {
  text-shadow: 0px 0px 0.5em var(--iv);
  cursor: default;
  transition: 0.5s;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' 200,
  'opsz' 48;
  transform: translateY(4px);
}

.sp {
  display: block;
  margin: 160px 0px;
}

p {
  font-size: 1.5em;
  color: var(--i);
  text-align: justify;
  padding: 16px 0px;
  line-height: 32px;}

.button {
  position: fixed;
  border-radius: 256px;
  background: linear-gradient(var(--ii), var(--i));
  right: 0%;
  margin: 0% 1%;
  color: var(--v);
  padding: 1em;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0px 8px 1em var(--i);
}

.button span {
  transform: translateY(2px);
}

.button:hover {
  text-shadow: 0px 0px 16px var(--v);
  transition: 0.5s;
}


.cont { 
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}

.cu { width: 60%;
  max-width: 600px;
  color: var(--i);
  background-color: var(--ih);
padding: 0% 5%;
margin: 2.5% 0% 0% 0%;
border-radius: var(--rad);
box-shadow: 0px 16px 16px var(--iii);
}

.members {
  width: 80%;
  max-width: 800px;
  color: var(--i);
  background-color: var(--ih);
  padding: 0% 2.5%;
  margin: 2.5% 0% 0% 0%;
  border-radius: var(--rad);
  box-shadow: 0px 16px 16px var(--iii);
}

h1 {
  text-align: center;
  color: var(--v);
  background-color: var(--i);
  padding: 8px;
  border-radius: var(--rad);
  font-size: 3em;
  box-shadow: 0px 8px 16px var(--ii);
}

h1:hover {
  text-shadow: 0px 0px 0.5em var(--iv);
  transition: 0.5s;
}

h2 {
  text-align: center;
  display: inline-block;
  color: var(--v);
  background: linear-gradient(var(--ii), var(--i));
  padding: 16px;
  width: fit-content;
  border-radius: var(--rad);
  font-size: 1.75em;

}

img, .gall .skill img { 
  width: 200px;
  border-radius: 200px;
  float: right;
  margin: 0px 16px;
  border: var(--ii) solid 5px;
  box-shadow: 0px 0px 16px var(--iii);
}



.mem {
  background-color: var(--ih);
  padding: 5%;
  margin: 5% 0%;
  border-radius: var(--rad);
}

.mem a {
  padding: 8px;
  margin: 0px 8px;
  border-radius: var(--rad);
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  transition: 0.5s;
}

.acont {text-align: center;}

.mem img, .gall .skill img {
  transition: 1.5s;
}


.mem img:hover, .gall .skill img:hover {
  cursor: pointer;
  transform: rotate(360deg);
}

.mem h2:hover, .gall .skill h2:hover {
  cursor: pointer;
  transition: 0.5s;
}

#injel, .gall .skill#an {
  background-color: var(--an1);
  color: var(--an3);
  box-shadow: 0px 8px 8px var(--an2);
}

#injel p, .gall .skill#an p { color: var(--an3); }
#injel p b, .gall .skill#an b { color: var(--an2); }

#injel h2, .gall .skill#an h2 {
  background: linear-gradient(var(--an2), var(--an3));
  color: var(--an1);
  box-shadow: 0px 8px 16px var(--an3);
}

#injel img, .gall .skill#an img {
  border: var(--an3) solid 5px;
  box-shadow: 0px 0px 8px var(--an2);
}

#injel h2:hover, .gall .skill#an h2:hover {
  text-shadow: 0px 0px 16px var(--an1);
}

#injel img:hover, .gall .skill#an img:hover {
  box-shadow: 0px 0px 32px var(--an2);
}

#injel a, .gall .skill#an a {
  color: var(--an2);
}

#injel a:hover, .gall .skill#an a:hover {
  color: var(--an1);
  background: linear-gradient(var(--an2), var(--an3));
  box-shadow: 0px 8px 16px var(--an3);
}


/* PERMEMBER */


#shy, .gall .skill#sh {
  background-color: var(--sh1);
  color: var(--sh3);
  box-shadow: 0px 8px 8px var(--sh2);
}

#shy p, .gall .skill#sh p { color: var(--sh3); }
#shy p b, .gall .skill#sh p { color: var(--sh2); }

#shy h2, .gall .skill#sh h2 {
  background: linear-gradient(var(--sh2), var(--sh3));
  color: var(--sh1);
  box-shadow: 0px 8px 16px var(--sh3);
}

#shy img, .gall .skill#sh img {
  border: var(--sh3) solid 5px;
  box-shadow: 0px 0px 8px var(--sh2);
}

#shy h2:hover, .gall .skill#sh h2:hover {
  text-shadow: 0px 0px 16px var(--sh1);
}

#shy img:hover, .gall .skill#sh img:hover {
  box-shadow: 0px 0px 32px var(--sh2);
}

#shy a, .gall .skill#sh a {
  color: var(--sh2);
}

#shy a:hover, .gall .skill#sh a:hover {
  color: var(--sh1);
  background: linear-gradient(var(--sh2), var(--sh3));
  box-shadow: 0px 8px 16px var(--sh3);
  
}






#zai, .gall .skill#za {
  background-color: var(--za1);
  color: var(--za3);
  box-shadow: 0px 8px 8px var(--za2);
}

#zai p, .gall .skill#za p { color: var(--za3); }
#zai p b, .gall .skill#za p b { color: var(--za2); }

#zai h2, .gall .skill#za h2 {
  background: linear-gradient(var(--za2), var(--za3));
  color: var(--za1);
  box-shadow: 0px 8px 16px var(--za3);
}

#zai img, .gall .skill#za img {
  border: var(--za3) solid 5px;
  box-shadow: 0px 0px 8px var(--za2);
}

#zai h2:hover, .gall .skill#za h2:hover {
  text-shadow: 0px 0px 16px var(--za1);
}

#zai img:hover, .gall .skill#za img:hover {
  box-shadow: 0px 0px 32px var(--za2);
}

#zai a, .gall .skill#za a {
  color: var(--za2);
}

#zai a:hover, .gall .skill#za a:hover {
  color: var(--za1);
  background: linear-gradient(var(--za2), var(--za3));
  box-shadow: 0px 8px 16px var(--za3);
  
}







#arian, .gall .skill#ar {
  background-color: var(--ar1);
  color: var(--ar3);
  box-shadow: 0px 8px 8px var(--ar2);
}

#arian p, .gall .skill#ar p { color: var(--ar3); }
#arian p b, .gall .skill#ar p b { color: var(--ar2); }

#arian h2, .gall .skill#ar h2 {
  background: linear-gradient(var(--ar2), var(--ar3));
  color: var(--ar1);
  box-shadow: 0px 8px 16px var(--ar3);
}

#arian img, .gall .skill#ar img {
  border: var(--ar3) solid 5px;
  box-shadow: 0px 0px 8px var(--ar2);
}

#arian h2:hover, .gall .skill#ar h2:hover {
  text-shadow: 0px 0px 16px var(--ar1);
}

#arian img:hover, .gall .skill#ar img:hover {
  box-shadow: 0px 0px 32px var(--ar2);
}

#arian a, .gall .skill#ar a {
  color: var(--ar2);
}

#arian a:hover, .gall .skill#ar a:hover {
  color: var(--ar1);
  background: linear-gradient(var(--ar2), var(--ar3));
  box-shadow: 0px 8px 16px var(--ar3);
  
}





#carlos, .gall .skill#ca {
  background-color: var(--ca1);
  color: var(--ca3);
  box-shadow: 0px 8px 8px var(--ca2);
}

#carlos p, .gall .skill#ca p { color: var(--ca3); }
#carlos p b, .gall .skill#ca p b { color: var(--ca2); }

#carlos h2, .gall .skill#ca h2 {
  background: linear-gradient(var(--ca2), var(--ca3));
  color: var(--ca1);
  box-shadow: 0px 8px 16px var(--ca3);
}

#carlos img, .gall .skill#ca img {
  border: var(--ca3) solid 5px;
  box-shadow: 0px 0px 8px var(--ca2);
}

#carlos h2:hover, .gall .skill#ca h2:hover {
  text-shadow: 0px 0px 16px var(--ca1);
}

#carlos img:hover, .gall .skill#ca img:hover {
  box-shadow: 0px 0px 32px var(--ca2);
}

#carlos a, .gall .skill#ca a {
  color: var(--ca2);

}

#carlos a:hover, .gall .skill#ca a:hover {
  color: var(--ca1);
  background: linear-gradient(var(--ca2), var(--ca3));
  box-shadow: 0px 8px 16px var(--ca3);
  
}





#chris, .gall .skill#ch {
  background-color: var(--ch1);
  color: var(--ch3);
  box-shadow: 0px 8px 8px var(--ch2);
}

#chris p, .gall .skill#ch p { color: var(--ch3); }
#chris p b, .gall .skill#ch p b { color: var(--ch2); }


#chris h2, .gall .skill#ch h2 {
  background: linear-gradient(var(--ch2), var(--ch3));
  color: var(--ch1);
  box-shadow: 0px 8px 16px var(--ch3);
}

#chris img, .gall .skill#ch img {
  border: var(--ch3) solid 5px;
  box-shadow: 0px 0px 8px var(--ch2);
}

#chris h2:hover, .gall .skill#ch h2:hover {
  text-shadow: 0px 0px 16px var(--ch1);
}

#chris img:hover, .gall .skill#ch img:hover {
  box-shadow: 0px 0px 32px var(--ch2);
}

#chris a, .gall .skill#ch a {
  color: var(--ch2);
}

#chris a:hover, .gall .skill#ch a:hover {
  color: var(--ch1);
  background: linear-gradient(var(--ch2), var(--ch3));
  box-shadow: 0px 8px 16px var(--ch3);
  
}





#gian, .gall .skill#gi {
  background-color: var(--gi1);
  color: var(--gi3);
  box-shadow: 0px 8px 8px var(--gi2);
}

#gian p, .gall .skill#gi p { color: var(--gi3); }
#gian p b, .gall .skill#gi p b { color: var(--gi2); }

#gian h2, .gall .skill#gi h2 {
  background: linear-gradient(var(--gi2), var(--gi3));
  color: var(--gi1);
  box-shadow: 0px 8px 16px var(--gi3);
}

#gian img, .gall .skill#gi img {
  border: var(--gi3) solid 5px;
  box-shadow: 0px 0px 8px var(--gi2);
}

#gian h2:hover, .gall .skill#gi h2:hover {
  text-shadow: 0px 0px 16px var(--gi1);
}

#gian img:hover, .gall .skill#gi img:hover {
  box-shadow: 0px 0px 32px var(--gi2);
}

#gian a, .gall .skill#gi a {
  color: var(--gi2);
}

#gian a:hover, .gall .skill#gi a:hover {
  color: var(--gi1);
  background: linear-gradient(var(--gi2), var(--gi3));
  box-shadow: 0px 8px 16px var(--gi3);
  
}





#jul, .gall .skill#ju {
  background-color: var(--ju1);
  color: var(--ju3);
  box-shadow: 0px 8px 8px var(--ju2);
}

#jul p, .gall .skill#ju p { color: var(--ju3); }
#jul p b, .gall .skill#ju p b { color: var(--ju2); }

#jul h2, .gall .skill#ju h2 {
  background: linear-gradient(var(--ju2), var(--ju3));
  color: var(--ju1);
  box-shadow: 0px 8px 16px var(--ju3);
}

#jul img, .gall .skill#ju img {
  border: var(--ju3) solid 5px;
  box-shadow: 0px 0px 8px var(--ju2);
}

#jul h2:hover, .gall .skill#ju h2:hover {
  text-shadow: 0px 0px 16px var(--ju1);
}

#jul img:hover, .gall .skill#ju img:hover {
  box-shadow: 0px 0px 32px var(--ju2);
}

#jul a, .gall .skill#ju a {
  color: var(--ju2);
}

#jul a:hover, .gall .skill#ju a:hover {
  color: var(--ju1);
  background: linear-gradient(var(--ju2), var(--ju3));
  box-shadow: 0px 8px 16px var(--ju3);
  
}




#ken, .gall .skill#kn {
  background-color: var(--kn1);
  color: var(--kn3);
  box-shadow: 0px 8px 8px var(--kn2);
}

#ken p, .gall .skill#kn p { color: var(--kn3); }
#ken p b, .gall .skill#kn p b { color: var(--kn2); }

#ken h2, .gall .skill#kn h2 {
  background: linear-gradient(var(--kn2), var(--kn3));
  color: var(--kn1);
  box-shadow: 0px 8px 16px var(--kn3);
}

#ken img, .gall .skill#kn img {
  border: var(--kn3) solid 5px;
  box-shadow: 0px 0px 8px var(--kn2);
}

#ken h2:hover, .gall .skill#kn h2:hover {
  text-shadow: 0px 0px 16px var(--kn1);
}

#ken img:hover, .gall .skill#kn img:hover {
  box-shadow: 0px 0px 32px var(--kn2);
}

#ken a, .gall .skill#kn a {
  color: var(--kn2);
}

#ken a:hover, .gall .skill#kn a:hover {
  color: var(--kn1);
  background: linear-gradient(var(--kn2), var(--kn3));
  box-shadow: 0px 8px 16px var(--kn3);
  
}




#razo, .gall .skill#ra {
  background-color: var(--ra1);
  color: var(--ra3);
  box-shadow: 0px 8px 8px var(--ra2);
}

#razo p, .gall .skill#ra p { color: var(--ra3); }
#razo p b, .gall .skill#ra p b { color: var(--ra2); }


#razo h2, .gall .skill#ra h2 {
  background: linear-gradient(var(--ra2), var(--ra3));
  color: var(--ra1);
  box-shadow: 0px 8px 16px var(--ra3);
}

#razo img, .gall .skill#ra img {
  border: var(--ra3) solid 5px;
  box-shadow: 0px 0px 8px var(--ra2);
}

#razo h2:hover, .gall .skill#ra h2:hover {
  text-shadow: 0px 0px 16px var(--ra1);
}

#razo img:hover, .gall .skill#ra img:hover {
  box-shadow: 0px 0px 32px var(--ra2);
}

#razo a, .gall .skill#ra a {
  color: var(--ra2);
}

#razo a:hover, .gall .skill#ra a:hover {
  color: var(--ra1);
  background: linear-gradient(var(--ra2), var(--ra3));
  box-shadow: 0px 8px 16px var(--ra3);
  
}

#Gallery img { 
  float: none;
  margin: 16px 0px;
  border-radius: 16px;
  width: 100%;
}

.stamp p {
  text-align: center;
  padding: 1em 2em;
  color: var(--ii);
}

.cu.stamp a, .cu.stamp a:visited, .cu a, .cu a:visited {
  font-size: 1em;
  padding: 12px;
  margin: 1em;
  font-weight: 700;
  text-shadow: 0px 0px 8px var(--iv);
  border-radius: 200px;
  text-decoration: none;
  color: var(--i);
  text-align: center;
}

.cu.stamp a:hover, .cu a:hover {
  background: linear-gradient(var(--ii), var(--i));
  box-shadow: 0px 8px 8px var(--ii);
  text-shadow: 0px 0px 8px var(--v);
  color: var(--v);
  transition: 0.5s;
  
}

.darkmode {
  --i: #C2EDF2;
  --ii: #95BFCE;
  --iii: #6991A9;
  --iv: #3C6385;
  --v: #12355c;
  --vi: #06203e;
  --vih: #00183340;
  --vii: #001833;

  /** Mein Gott Leute, meine Mama hat mir einfach erlaubt dass ich Cola trinken darf! Wie cool ist das, bitte? Jetzt zocke ich Fortnite und trinke Cola! YIPPEE! **/

  --an0: #0d131b;  --an1: #242b35;  --ann: #1B3A53;  --anx: #194868;  --an2: #b45f7e;  --an3: #f4f4f4;
  --sh0: #0f0f0f;  --sh1: #202020;  --shn: #333333;  --shx: #3e3e3e;  --sh2: #9a9a9a;  --sh3: #f4f4f4;
  --za0: #0c0808;  --za1: #242121;  --zan: #532425;  --zax: #812728;  --za2: #c25b5d;  --za3: #fff2e4;
  --ar0: #0f1414;  --ar1: #1c2020;  --arn: #33494e;  --arx: #38626d;  --ar2: #659ba8;  --ar3: #d8dee5;
  --ca0: #0c1014;  --ca1: #131b25;  --can: #0F2846;  --cax: #0a3466;  --ca2: #3e87b8;  --ca3: #d8e3f3; 
  --ch0: #17171a;  --ch1: #272e33;  --chn: #374148;  --chx: #46535c;  --ch2: #8da3b3;  --ch3: #eff4f5; 
  --gi0: #18181b;  --gi1: #2c2e3a;  --gin: #36394B;  --gix: #3f445c;  --gi2: #b5925a;  --gi3: #fdfdfd;
  --ju0: #090d11;  --ju1: #12161b;  --jun: #1F242C;  --jux: #2b323c;  --ju2: #65707a;  --ju3: #f3f3f3; 
  --kn0: #11161a;  --kn1: #141e24;  --knn: #1E2D36;  --knx: #243b49;  --kn2: #608190;  --kn3: #eae9e4;
  --ra0: #11130e;  --ra1: #1b1d1a;  --ran: #344B23;  --rax: #426128;  --ra2: #97c342;  --ra3: #fefefe;
}

html.darkmode {
  background: linear-gradient(var(--iv), var(--vi))  no-repeat center center fixed;
}

nav.darkmode {
  background: linear-gradient(var(--v), var(--vii));
  box-shadow: 0px 8px 2em var(--vi);
  color: var(--i);
}

.darkmode .button {
  background: linear-gradient(var(--v), var(--vii));
  color: var(--i);
  box-shadow: 0px 8px 1em var(--vi);
  
}

.darkmode .button:hover {
  text-shadow: 0px 0px 16px var(--i);
}

nav.darkmode a {
  color: var(--i);
}

nav.darkmode a:hover {
  color: var(--v);
  background-color: var(--i);
  box-shadow: 0px 0px 8px var(--ii);
}

nav.darkmode b:hover {
  text-shadow: 0px 0px 0.5em var(--ii);
}

.darkmode h1 {
  box-shadow: 0px 8px 16px var(--vi);
  background-color: var(--vii);
  color: var(--i);
}

.cu.darkmode, .members.darkmode, .gall.darkmode {
  background-color: var(--vih);
  box-shadow: 0px 16px 16px var(--vi);
}

/** DARKMODE PERMEMBER **/

.darkmode #injel, .darkmode .gall .skill#an {
  background-color: var(--an1);
  color: var(--an3);
  box-shadow: 0px 8px 8px var(--an0);
}

.darkmode #injel p { color: var(--an3); }

.darkmode #injel h2, .darkmode .gall .skill#an h2 {
  background: linear-gradient(var(--an2), var(--anx));
  color: var(--an3);
  box-shadow: 0px 8px 16px var(--ann);
}

.darkmode #injel img, .darkmode .gall .skill#an img {
  border: var(--an3) solid 5px;
  box-shadow: 0px 0px 8px var(--an2);
}

.darkmode #injel h2:hover, .darkmode .gall .skill#an h2:hover {
  text-shadow: 0px 0px 16px var(--an3);
}

.darkmode #injel img:hover, .darkmode .gall .skill#an img:hover {
  box-shadow: 0px 0px 32px var(--an2);
}

.darkmode #injel a, .darkmode .gall .skill#an a {
  color: var(--an2);
}

.darkmode #injel a:hover, .darkmode .gall .skill#an a:hover {
  color: var(--an3);
  background: linear-gradient(var(--an2), var(--anx));
  box-shadow: 0px 8px 16px var(--ann);
}

/* PERMEMBER */


.darkmode #shy, .darkmode .gall .skill#sh {
  background-color: var(--sh1);
  color: var(--sh3);
  box-shadow: 0px 8px 8px var(--sh0);
}

.darkmode #shy p { color: var(--sh3); }

.darkmode #shy h2, .darkmode .gall .skill#sh h2 {
  background: linear-gradient(var(--sh2), var(--shx));
  color: var(--sh3);
  box-shadow: 0px 8px 16px var(--shn);
}

.darkmode #shy img, .darkmode .gall .skill#sh img {
  border: var(--sh3) solid 5px;
  box-shadow: 0px 0px 8px var(--sh2);
}

.darkmode #shy h2:hover, .darkmode .gall .skill#sh h2:hover {
  text-shadow: 0px 0px 16px var(--sh3);
}

.darkmode #shy img:hover, .darkmode .gall .skill#sh img:hover {
  box-shadow: 0px 0px 32px var(--sh2);
}

.darkmode #shy a, .darkmode .gall .skill#sh a {
  color: var(--sh2);
}

.darkmode #shy a:hover, .darkmode .gall .skill#a:hover  {
  color: var(--sh3);
  background: linear-gradient(var(--sh2), var(--shx));
  box-shadow: 0px 8px 16px var(--shn);
}



.darkmode #zai, .darkmode .gall .skill#za {
  background-color: var(--za1);
  color: var(--za3);
  box-shadow: 0px 8px 8px var(--za0);
}

.darkmode #zai p, .darkmode .gall .skill#za { color: var(--za3); }

.darkmode #zai h2, .darkmode .gall .skill#za h2  {
  background: linear-gradient(var(--za2), var(--zax));
  color: var(--za3);
  box-shadow: 0px 8px 16px var(--zan);
}

.darkmode #zai img, .darkmode .gall .skill#za img  {
  border: var(--za3) solid 5px;
  box-shadow: 0px 0px 8px var(--za2);
}

.darkmode #zai h2:hover, .darkmode .gall .skill#za h2:hover {
  text-shadow: 0px 0px 16px var(--za3);
}

.darkmode #zai img:hover, .darkmode .gall .skill#za img:hover {
  box-shadow: 0px 0px 32px var(--za2);
}

.darkmode #zai a, .darkmode .gall .skill#za a {
  color: var(--za2);
}

.darkmode #zai a:hover, .darkmode .gall .skill#za a:hover {
  color: var(--za3);
  background: linear-gradient(var(--za2), var(--zax));
  box-shadow: 0px 8px 16px var(--zan);
}



.darkmode #arian, .darkmode .gall .skill#ar {
  background-color: var(--ar1);
  color: var(--ar3);
  box-shadow: 0px 8px 8px var(--ar0);
}

.darkmode #arian p, .darkmode .gall .skill#ar p { color: var(--ar3); }

.darkmode #arian h2, .darkmode .gall .skill#ar h2 {
  background: linear-gradient(var(--ar2), var(--arx));
  color: var(--ar3);
  box-shadow: 0px 8px 16px var(--arn);
}

.darkmode #arian img, .darkmode .gall .skill#ar img {
  border: var(--ar3) solid 5px;
  box-shadow: 0px 0px 8px var(--ar2);
}

.darkmode #arian h2:hover, .darkmode .gall .skill#ar h2:hover {
  text-shadow: 0px 0px 16px var(--ar3);
}

.darkmode #arian img:hover, .darkmode .gall .skill#ar img:hover {
  box-shadow: 0px 0px 32px var(--ar2);
}

.darkmode #arian a, .darkmode .gall .skill#ar a {
  color: var(--ar2);
}

.darkmode #arian a:hover, .darkmode .gall .skill#ar a:hover {
  color: var(--ar3);
  background: linear-gradient(var(--ar2), var(--arx));
  box-shadow: 0px 8px 16px var(--arn);
}




.darkmode #carlos, .darkmode .gall .skill#ca  {
  background-color: var(--ca1);
  color: var(--ca3);
  box-shadow: 0px 8px 8px var(--ca0);
}

.darkmode #carlos p, .darkmode .gall .skill#ca p { color: var(--ca3); }

.darkmode #carlos h2, .darkmode .gall .skill#ca h2 {
  background: linear-gradient(var(--ca2), var(--cax));
  color: var(--ca3);
  box-shadow: 0px 8px 16px var(--can);
}

.darkmode #carlos img, .darkmode .gall .skill#ca img {
  border: var(--ca3) solid 5px;
  box-shadow: 0px 0px 8px var(--ca2);
}

.darkmode #carlos h2:hover, .darkmode .gall .skill#ca h2:hover {
  text-shadow: 0px 0px 16px var(--ca3);
}

.darkmode #carlos img:hover, .darkmode .gall .skill#ca img:hover {
  box-shadow: 0px 0px 32px var(--ca2);
}

.darkmode #carlos a, .darkmode .gall .skill#ca a {
  color: var(--ca2);
}

.darkmode #carlos a:hover, .darkmode .gall .skill#ca a:hover {
  color: var(--ca3);
  background: linear-gradient(var(--ca2), var(--cax));
  box-shadow: 0px 8px 16px var(--can);
}


.darkmode #chris, .darkmode .gall .skill#ch  {
  background-color: var(--ch1);
  color: var(--ch3);
  box-shadow: 0px 8px 8px var(--ch0);
}

.darkmode #chris p, .darkmode .gall .skill#ch p { color: var(--ch3); }

.darkmode #chris h2, .darkmode .gall .skill#ch h2 {
  background: linear-gradient(var(--ch2), var(--chx));
  color: var(--ch3);
  box-shadow: 0px 8px 16px var(--chn);
}

.darkmode #chris img, .darkmode .gall .skill#ch img {
  border: var(--ch3) solid 5px;
  box-shadow: 0px 0px 8px var(--ch2);
}

.darkmode #chris h2:hover, .darkmode .gall .skill#ch h2:hover {
  text-shadow: 0px 0px 16px var(--ch3);
}

.darkmode #chris img:hover, .darkmode .gall .skill#ch img:hover {
  box-shadow: 0px 0px 32px var(--ch2);
}

.darkmode #chris a, .darkmode .gall .skill#ch a {
  color: var(--ch2);
}

.darkmode #chris a:hover, .darkmode .gall .skill#ch a:hover {
  color: var(--ch3);
  background: linear-gradient(var(--ch2), var(--chx));
  box-shadow: 0px 8px 16px var(--chn);
}




.darkmode #gian, .darkmode .gall .skill#gi  {
  background-color: var(--gi1);
  color: var(--gi3);
  box-shadow: 0px 8px 8px var(--gi0);
}

.darkmode #gian p, .darkmode .gall .skill#gi p { color: var(--gi3); }

.darkmode #gian h2, .darkmode .gall .skill#gi h2 {
  background: linear-gradient(var(--gi2), var(--gix));
  color: var(--gi3);
  box-shadow: 0px 8px 16px var(--gin);
}

.darkmode #gian img, .darkmode .gall .skill#gi img {
  border: var(--gi3) solid 5px;
  box-shadow: 0px 0px 8px var(--gi2);
}

.darkmode #gian h2:hover, .darkmode .gall .skill#gi h2:hover {
  text-shadow: 0px 0px 16px var(--gi3);
}

.darkmode #gian img:hover, .darkmode .gall .skill#gi img:hover {
  box-shadow: 0px 0px 32px var(--gi2);
}

.darkmode #gian a, .darkmode .gall .skill#gi a {
  color: var(--gi2);
}

.darkmode #gian a:hover, .darkmode .gall .skill#gi a:hover {
  color: var(--gi3);
  background: linear-gradient(var(--gi2), var(--gix));
  box-shadow: 0px 8px 16px var(--gin);
}




.darkmode #jul, .darkmode .gall .skill#ju  {
  background-color: var(--ju1);
  color: var(--ju3);
  box-shadow: 0px 8px 8px var(--ju0);
}

.darkmode #jul p, .darkmode .gall .skill#ju p { color: var(--ju3); }

.darkmode #jul h2, .darkmode .gall .skill#ju h2 {
  background: linear-gradient(var(--ju2), var(--jux));
  color: var(--ju3);
  box-shadow: 0px 8px 16px var(--jun);
}

.darkmode #jul img, .darkmode .gall .skill#ju img {
  border: var(--ju3) solid 5px;
  box-shadow: 0px 0px 8px var(--ju2);
}

.darkmode #jul h2:hover, .darkmode .gall .skill#ju h2:hover {
  text-shadow: 0px 0px 16px var(--ju3);
}

.darkmode #jul img:hover, .darkmode .gall .skill#ju img:hover {
  box-shadow: 0px 0px 32px var(--ju2);
}

.darkmode #jul a, .darkmode .gall .skill#ju a {
  color: var(--ju2);
}

.darkmode #jul a:hover, .darkmode .gall .skill#ju a:hover {
  color: var(--ju3);
  background: linear-gradient(var(--ju2), var(--jux));
  box-shadow: 0px 8px 16px var(--jun);
}



.darkmode #ken, .darkmode .gall .skill#kn  {
  background-color: var(--kn1);
  color: var(--kn3);
  box-shadow: 0px 8px 8px var(--kn0);
}

.darkmode #ken p, .darkmode .gall .skill#kn p { color: var(--kn3); }

.darkmode #ken h2, .darkmode .gall .skill#kn h2 {
  background: linear-gradient(var(--kn2), var(--knx));
  color: var(--kn3);
  box-shadow: 0px 8px 16px var(--knn);
}

.darkmode #ken img, .darkmode .gall .skill#kn img {
  border: var(--kn3) solid 5px;
  box-shadow: 0px 0px 8px var(--kn2);
}

.darkmode #ken h2:hover, .darkmode .gall .skill#kn h2:hover {
  text-shadow: 0px 0px 16px var(--kn3);
}

.darkmode #ken img:hover {
  box-shadow: 0px 0px 32px var(--kn2);
}

.darkmode #ken a, .darkmode .gall .skill#kn a {
  color: var(--kn2);
}

.darkmode #ken a:hover, .darkmode .gall .skill#kn a:hover {
  color: var(--kn3);
  background: linear-gradient(var(--kn2), var(--knx));
  box-shadow: 0px 8px 16px var(--knn);
}



.darkmode #razo, .darkmode .gall .skill#ra {
  background-color: var(--ra1);
  color: var(--ra3);
  box-shadow: 0px 8px 8px var(--ra0);
}

.darkmode #razo p, .darkmode .gall .skill#ra p { color: var(--ra3); }

.darkmode #razo h2, .darkmode .gall .skill#ra h2 {
  background: linear-gradient(var(--ra2), var(--rax));
  color: var(--ra3);
  box-shadow: 0px 8px 16px var(--ran);
}

.darkmode #razo img, .darkmode .gall .skill#ra img {
  border: var(--ra3) solid 5px;
  box-shadow: 0px 0px 8px var(--ra2);
}

.darkmode #razo h2:hover, .darkmode .gall .skill#ra h2:hover {
  text-shadow: 0px 0px 16px var(--ra3);
}

.darkmode #razo img:hover, .darkmode .gall .skill#ra img:hover {
  box-shadow: 0px 0px 32px var(--ra2);
}

.darkmode #razo a, .darkmode .gall .skill#ra a {
  color: var(--ra2);
}

.darkmode #razo a:hover, .darkmode .gall .skill#ra a:hover {
  color: var(--ra3);
  background: linear-gradient(var(--ra2), var(--rax));
  box-shadow: 0px 8px 16px var(--ran);
}

.darkmode .stamp a:hover, .darkmode .cu a:hover {
  background: linear-gradient(var(--i), var(--ii));
  box-shadow: 0px 8px 8px var(--vih);
  text-shadow: none;
  color: var(--v);
  transition: 0.5s;
  
}

.gallcont{
  display: flex;
  align-items: center;
  justify-content: center;
}

.gall {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 1600px;
  flex-wrap: wrap;
  margin-top: 300px;

  background-color: var(--ih);
  padding: 1%;
  border-radius: var(--rad);
  box-shadow: 0px 16px 16px var(--iii);
}

.gall img {
  margin: 16px;
  border-radius: 16px;
  min-width: 200px;
  width: 600px;
  max-width: 800px;
}

.contag {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  padding: 50px 0px;
}

.contag:hover {
  cursor: pointer;
}

.gall .skill {
  margin: 16px;
  padding: 32px;
  border-radius: var(--rad);
  min-width: 200px;
  width: 600px;
  max-width: 800px;
}

.gall .skill .h2cont {
display: flex;
justify-content: center;
padding: 0;
margin: -16px 0px 0px 0px;
}

.gall .skill .imgcont {

 float: right;
}


.gall .skill .contag .markcont span.imi {
  font-size: 1.5em;
  padding: 0.5em;
  font-weight: 500;
}


.markcont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.marker {
  height:100px;
  width: 100px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.marval {
  font-size: 1.25em;
  font-weight: 700;
  text-align: center;
position: relative;
transition: 0.5s;
}

.marker::before {
  content: '';
    position: absolute;
    height: calc(100px * (2/3));
    width: calc(100px * (2/3));
    border-radius: 50%;
    transition: 0.5s;
}




.gall .skill#an {
  background-color: var(--an1);
  color: var(--an3);
  box-shadow: 0px 8px 8px var(--an2);
}

.gall .skill#an .marker {
  box-shadow: 0px 0px 8px var(--anb);
}

.gall .skill#an .marker:hover {
  box-shadow: 0px 0px 16px var(--anb);
}

.gall .skill#an .marker:hover::before {
  box-shadow: inset 0px 0px 16px var(--anb);
}

.gall .skill#an .marker#ang1 {
  background: conic-gradient(var(--an3) calc(360deg * (0.2)), var(--anb) 0deg);
}

.gall .skill#an .marker#ang2 {
  background: conic-gradient(var(--an3) calc(360deg * (0.3)), var(--anb) 0deg);
}

.gall .skill#an .marker#ang3 {
  background: conic-gradient(var(--an3) calc(360deg * (0.05)), var(--anb) 0deg);
}

.gall .skill#an .marker::before {
    background: var(--an1);
}

.gall .skill#an .marker span.marval {
  color: var(--an3);
}



.darkmode .gall .skill#an .marker {
  box-shadow: 0px 0px 8px var(--anx);
}

.darkmode .gall .skill#an .marker:hover {
  box-shadow: 0px 0px 16px var(--anx);
}

.darkmode .gall .skill#an .marker:hover::before {
  box-shadow: inset 0px 0px 16px var(--anx);
}

.darkmode .gall .skill#an .marker#ang1 {
  background: conic-gradient(var(--an2) calc(360deg * (0.2)), var(--anx) 0deg);
}

.darkmode .gall .skill#an .marker#ang2 {
  background: conic-gradient(var(--an2) calc(360deg * (0.3)), var(--anx) 0deg);
}

.darkmode .gall .skill#an .marker#ang3 {
  background: conic-gradient(var(--an2) calc(360deg * (0.05)), var(--anx) 0deg);
}

.darkmode .gall .skill#an .marker::before {
    background: var(--an1);
}

.darkmode .gall .skill#an .marker span.marval {
  color: var(--an3);
}



.gall .skill#sh {
  background-color: var(--sh1);
  color: var(--sh3);
  box-shadow: 0px 8px 8px var(--sh2);
}

.gall .skill#sh .marker {
  box-shadow: 0px 0px 8px var(--shb);
}

.gall .skill#sh .marker#shg1 {
  background: conic-gradient(var(--sh3) calc(360deg * (0.68)), var(--shb) 0deg);
}

.gall .skill#sh .marker#shg2 {
  background: conic-gradient(var(--sh3) calc(360deg * (0.6)), var(--shb) 0deg);
}

.gall .skill#sh .marker#shg3 {
  background: conic-gradient(var(--sh3) calc(360deg * (0.3)), var(--shb) 0deg);
}

.gall .skill#sh .marker::before {
    background: var(--sh1);
}

.gall .skill#sh .marker span.marval {
  color: var(--sh3);
}

.gall .skill#sh .marker:hover {
  box-shadow: 0px 0px 16px var(--shb);
}

.gall .skill#sh .marker:hover::before {
  box-shadow: inset 0px 0px 16px var(--shb);
}




.darkmode .gall .skill#sh .marker {
  box-shadow: 0px 0px 8px var(--shn);
  
}

.darkmode .gall .skill#sh .marker#shg1 {
  background: conic-gradient(var(--sh2) calc(360deg * (0.68)), var(--shx) 0deg);
}

.darkmode .gall .skill#sh .marker#shg2 {
  background: conic-gradient(var(--sh2) calc(360deg * (0.6)), var(--shx) 0deg);
}

.darkmode .gall .skill#sh .marker#shg3 {
  background: conic-gradient(var(--sh2) calc(360deg * (0.3)), var(--shx) 0deg);
}

.darkmode .gall .skill#sh .marker::before {
    background: var(--sh1);
}

.darkmode .gall .skill#sh .marker span.marval {
  color: var(--sh3);
}

.darkmode .gall .skill#sh .marker:hover {
  box-shadow: 0px 0px 16px var(--shx);
}

.darkmode .gall .skill#sh .marker:hover::before {
  box-shadow: inset 0px 0px 16px var(--shx);
}



.gall .skill#za {
  background-color: var(--za1);
  color: var(--za3);
  box-shadow: 0px 8px 8px var(--za2);
}

.gall .skill#za .marker {
  box-shadow: 0px 0px 8px var(--zab);
  
}

.gall .skill#za .marker#zag1 {
  background: conic-gradient(var(--za3) calc(360deg * (0.2)), var(--zab) 0deg);
}

.gall .skill#za .marker#zag2 {
  background: conic-gradient(var(--za3) calc(360deg * (0.3)), var(--zab) 0deg);
}

.gall .skill#za .marker#zag3 {
  background: conic-gradient(var(--za3) calc(360deg * (0.05)), var(--zab) 0deg);
}

.gall .skill#za .marker::before {
    background: var(--za1);
}

.gall .skill#za .marker span.marval {
  color: var(--za3);
}

.gall .skill#za .marker:hover {
  box-shadow: 0px 0px 16px var(--zab);
}

.gall .skill#za .marker:hover::before {
  box-shadow: inset 0px 0px 16px var(--zab);
}



.darkmode .gall .skill#za .marker {
  box-shadow: 0px 0px 8px var(--zan);
  
}

.darkmode .gall .skill#za .marker#zag1 {
  background: conic-gradient(var(--za2) calc(360deg * (0.2)), var(--zax) 0deg);
}

.darkmode .gall .skill#za .marker#zag2 {
  background: conic-gradient(var(--za2) calc(360deg * (0.3)), var(--zax) 0deg);
}

.darkmode .gall .skill#za .marker#zag3 {
  background: conic-gradient(var(--za2) calc(360deg * (0.0.5)), var(--zax) 0deg);
}

.darkmode .gall .skill#za .marker::before {
    background: var(--za1);
}

.darkmode .gall .skill#za .marker span.marval {
  color: var(--za3);
}

.darkmode .gall .skill#za .marker:hover {
  box-shadow: 0px 0px 16px var(--zax);
}

.darkmode .gall .skill#za .marker:hover::before {
  box-shadow: inset 0px 0px 16px var(--zax);
}



.gall .skill#ar {
  background-color: var(--ar1);
  color: var(--ar3);
  box-shadow: 0px 8px 8px var(--ar2);
}

.gall .skill#ar .marker {
  box-shadow: 0px 0px 8px var(--arb);
  
}

.gall .skill#ar .marker#arg1 {
  background: conic-gradient(var(--ar3) calc(360deg * (0.8)), var(--arb) 0deg);
}

.gall .skill#ar .marker#arg2 {
  background: conic-gradient(var(--ar3) calc(360deg * (0.7)), var(--arb) 0deg);
}

.gall .skill#ar .marker#arg3 {
  background: conic-gradient(var(--ar3) calc(360deg * (0.1)), var(--arb) 0deg);
}

.gall .skill#ar .marker::before {
    background: var(--ar1);
}

.gall .skill#ar .marker span.marval {
  color: var(--ar3);
}

.gall .skill#ar .marker:hover {
  box-shadow: 0px 0px 16px var(--arb);
}

.gall .skill#ar .marker:hover::before {
  box-shadow: inset 0px 0px 16px var(--arb);
}



.darkmode .gall .skill#ar .marker {
  box-shadow: 0px 0px 8px var(--arn);
  
}

.darkmode .gall .skill#ar .marker#arg1 {
  background: conic-gradient(var(--ar2) calc(360deg * (0.8)), var(--arx) 0deg);
}

.darkmode .gall .skill#ar .marker#arg2 {
  background: conic-gradient(var(--ar2) calc(360deg * (0.7)), var(--arx) 0deg);
}

.darkmode .gall .skill#ar .marker#arg3 {
  background: conic-gradient(var(--ar2) calc(360deg * (0.1)), var(--arx) 0deg);
}

.darkmode .gall .skill#ar .marker::before {
    background: var(--ar1);
}

.darkmode .gall .skill#ar .marker span.marval {
  color: var(--ar3);
}

.darkmode .gall .skill#ar .marker:hover {
  box-shadow: 0px 0px 16px var(--arx);
}

.darkmode .gall .skill#ar .marker:hover::before {
  box-shadow: inset 0px 0px 16px var(--arx);
}



.gall .skill#ca {
  background-color: var(--ca1);
  color: var(--ca3);
  box-shadow: 0px 8px 8px var(--ca2);
}

.gall .skill#ca .marker {
  box-shadow: 0px 0px 8px var(--cab);
  
}

.gall .skill#ca .marker#cag1 {
  background: conic-gradient(var(--ca3) calc(360deg * (0.5)), var(--cab) 0deg);
}

.gall .skill#ca .marker#cag2 {
  background: conic-gradient(var(--ca3) calc(360deg * (0.7)), var(--cab) 0deg);
}

.gall .skill#ca .marker#cag3 {
  background: conic-gradient(var(--ca3) calc(360deg * (0.3)), var(--cab) 0deg);
}

.gall .skill#ca .marker::before {
    background: var(--ca1);
}

.gall .skill#ca .marker span.marval {
  color: var(--ca3);
}

.gall .skill#ca .marker:hover {
  box-shadow: 0px 0px 16px var(--cab);
}

.gall .skill#ca .marker:hover::before {
  box-shadow: inset 0px 0px 16px var(--cab);
}



.darkmode .gall .skill#ca .marker {
  box-shadow: 0px 0px 8px var(--can);
  
}

.darkmode .gall .skill#ca .marker#cag1 {
  background: conic-gradient(var(--ca2) calc(360deg * (0.5)), var(--cax) 0deg);
}

.darkmode .gall .skill#ca .marker#cag2 {
  background: conic-gradient(var(--ca2) calc(360deg * (0.7)), var(--cax) 0deg);
}

.darkmode .gall .skill#ca .marker#cag3 {
  background: conic-gradient(var(--ca2) calc(360deg * (0.3)), var(--cax) 0deg);
}

.darkmode .gall .skill#ca .marker::before {
    background: var(--ca1);
}

.darkmode .gall .skill#ca .marker span.marval {
  color: var(--ca3);
}

.darkmode .gall .skill#ca .marker:hover {
  box-shadow: 0px 0px 16px var(--cab);
}

.darkmode .gall .skill#ca .marker:hover::before {
  box-shadow: inset 0px 0px 16px var(--cab);
}


.gall .skill#ch {
  background-color: var(--ch1);
  color: var(--ch3);
  box-shadow: 0px 8px 8px var(--ch2);
}

.gall .skill#ch .marker {
  box-shadow: 0px 0px 8px var(--chb);
  
}

.gall .skill#ch .marker#chg1 {
  background: conic-gradient(var(--ch3) calc(360deg * (0.2)), var(--chb) 0deg);
}

.gall .skill#ch .marker#chg2 {
  background: conic-gradient(var(--ch3) calc(360deg * (0.1)), var(--chb) 0deg);
}

.gall .skill#ch .marker#chg3 {
  background: conic-gradient(var(--ch3) calc(360deg * (0.05)), var(--chb) 0deg);
}

.gall .skill#ch .marker::before {
    background: var(--ch1);
}

.gall .skill#ch .marker span.marval {
  color: var(--ch3);
}

.gall .skill#ch .marker:hover {
  box-shadow: 0px 0px 16px var(--chb);
}

.gall .skill#ch .marker:hover::before {
  box-shadow: inset 0px 0px 16px var(--chb);
}


.darkmode .gall .skill#ch .marker {
  box-shadow: 0px 0px 8px var(--chn);
  
}

.darkmode .gall .skill#ch .marker#chg1 {
  background: conic-gradient(var(--ch2) calc(360deg * (0.2)), var(--chx) 0deg);
}

.darkmode .gall .skill#ch .marker#chg2 {
  background: conic-gradient(var(--ch2) calc(360deg * (0.1)), var(--chx) 0deg);
}

.darkmode .gall .skill#ch .marker#chg3 {
  background: conic-gradient(var(--ch2) calc(360deg * (0.05)), var(--chx) 0deg);
}

.darkmode .gall .skill#ch .marker::before {
    background: var(--ch1);
}

.darkmode .gall .skill#ch .marker span.marval {
  color: var(--ch3);
}

.darkmode .gall .skill#ch .marker:hover {
  box-shadow: 0px 0px 16px var(--chx);
}

.darkmode .gall .skill#ch .marker:hover::before {
  box-shadow: inset 0px 0px 16px var(--chx);
}



.gall .skill#gi {
  background-color: var(--gi1);
  color: var(--gi3);
  box-shadow: 0px 8px 8px var(--gi2);
}

.gall .skill#gi .marker {
  box-shadow: 0px 0px 8px var(--gib);
  
}

.gall .skill#gi .marker#gig1 {
  background: conic-gradient(var(--gi3) calc(360deg * (0.4)), var(--gib) 0deg);
}

.gall .skill#gi .marker#gig2 {
  background: conic-gradient(var(--gi3) calc(360deg * (0.4)), var(--gib) 0deg);
}

.gall .skill#gi .marker#gig3 {
  background: conic-gradient(var(--gi3) calc(360deg * (0.05)), var(--gib) 0deg);
}

.gall .skill#gi .marker::before {
    background: var(--gi1);
}

.gall .skill#gi .marker span.marval {
  color: var(--gi3);
}

.gall .skill#gi .marker:hover {
  box-shadow: 0px 0px 16px var(--gib);
}

.gall .skill#gi .marker:hover::before {
  box-shadow: inset 0px 0px 16px var(--gib);
}




.darkmode .gall .skill#gi .marker {
  box-shadow: 0px 0px 8px var(--gin);
  
}

.darkmode .gall .skill#gi .marker#gig1 {
  background: conic-gradient(var(--gi2) calc(360deg * (0.4)), var(--gix) 0deg);
}

.darkmode .gall .skill#gi .marker#gig2 {
  background: conic-gradient(var(--gi2) calc(360deg * (0.4)), var(--gix) 0deg);
}

.darkmode .gall .skill#gi .marker#gig3 {
  background: conic-gradient(var(--gi2) calc(360deg * (0.05)), var(--gix) 0deg);
}

.darkmode .gall .skill#gi .marker::before {
    background: var(--gi1);
}

.darkmode .gall .skill#gi .marker span.marval {
  color: var(--gi3);
}

.darkmode .gall .skill#gi .marker:hover {
  box-shadow: 0px 0px 16px var(--gix);
}

.darkmode .gall .skill#gi .marker:hover::before {
  box-shadow: inset 0px 0px 16px var(--gix);
}



.gall .skill#ju {
  background-color: var(--ju1);
  color: var(--ju3);
  box-shadow: 0px 8px 8px var(--ju2);
}

.gall .skill#ju .marker {
  box-shadow: 0px 0px 8px var(--jub);
  
}

.gall .skill#ju .marker#jug1 {
  background: conic-gradient(var(--ju3) calc(360deg * (0.1)), var(--jub) 0deg);
}

.gall .skill#ju .marker#jug2 {
  background: conic-gradient(var(--ju3) calc(360deg * (0.1)), var(--jub) 0deg);
}

.gall .skill#ju .marker#jug3 {
  background: conic-gradient(var(--ju3) calc(360deg * (0.05)), var(--jub) 0deg);
}

.gall .skill#ju .marker::before {
    background: var(--ju1);
}

.gall .skill#ju .marker span.marval {
  color: var(--ju3);
}

.gall .skill#ju .marker:hover {
  box-shadow: 0px 0px 16px var(--jub);
}

.gall .skill#ju .marker:hover::before {
  box-shadow: inset 0px 0px 16px var(--jub);
}


.darkmode .gall .skill#ju .marker {
  box-shadow: 0px 0px 8px var(--jun);
  
}

.darkmode .gall .skill#ju .marker#jug1 {
  background: conic-gradient(var(--ju2) calc(360deg * (0.1)), var(--jux) 0deg);
}

.darkmode .gall .skill#ju .marker#jug2 {
  background: conic-gradient(var(--ju2) calc(360deg * (0.1)), var(--jux) 0deg);
}

.darkmode .gall .skill#ju .marker#jug3 {
  background: conic-gradient(var(--ju2) calc(360deg * (0.05)), var(--jux) 0deg);
}

.darkmode .gall .skill#ju .marker::before {
    background: var(--ju1);
}

.darkmode .gall .skill#ju .marker span.marval {
  color: var(--ju3);
}

.darkmode .gall .skill#ju .marker:hover {
  box-shadow: 0px 0px 16px var(--jux);
}

.darkmode .gall .skill#ju .marker:hover::before {
  box-shadow: inset 0px 0px 16px var(--jux);
}



.gall .skill#kn {
  background-color: var(--kn1);
  color: var(--kn3);
  box-shadow: 0px 8px 8px var(--kn2);
}

.gall .skill#kn .marker {
  box-shadow: 0px 0px 8px var(--knb);
  
}

.gall .skill#kn .marker#kng1 {
  background: conic-gradient(var(--kn3) calc(360deg * (0.2)), var(--knb) 0deg);
}

.gall .skill#kn .marker#kng2 {
  background: conic-gradient(var(--kn3) calc(360deg * (0.3)), var(--knb) 0deg);
}

.gall .skill#kn .marker#kng3 {
  background: conic-gradient(var(--kn3) calc(360deg * (0.05)), var(--knb) 0deg);
}

.gall .skill#kn .marker::before {
    background: var(--kn1);
}

.gall .skill#kn .marker span.marval {
  color: var(--kn3);
}

.gall .skill#kn .marker:hover {
  box-shadow: 0px 0px 16px var(--knb);
}

.gall .skill#kn .marker:hover::before {
  box-shadow: inset 0px 0px 16px var(--knb);
}



.darkmode .gall .skill#kn .marker {
  box-shadow: 0px 0px 8px var(--knn);
  
}

.darkmode .gall .skill#kn .marker#kng1 {
  background: conic-gradient(var(--kn2) calc(360deg * (0.2)), var(--knx) 0deg);
}

.darkmode .gall .skill#kn .marker#kng2 {
  background: conic-gradient(var(--kn2) calc(360deg * (0.3)), var(--knx) 0deg);
}

.darkmode .gall .skill#kn .marker#kng3 {
  background: conic-gradient(var(--kn2) calc(360deg * (0.05)), var(--knx) 0deg);
}

.darkmode .gall .skill#kn .marker::before {
    background: var(--kn1);
}

.darkmode .gall .skill#kn .marker span.marval {
  color: var(--kn3);
}

.darkmode .gall .skill#kn .marker:hover {
  box-shadow: 0px 0px 16px var(--knx);
}

.darkmode .gall .skill#kn .marker:hover::before {
  box-shadow: inset 0px 0px 16px var(--knx);
}





.gall .skill#ra {
  background-color: var(--ra1);
  color: var(--ra3);
  box-shadow: 0px 8px 8px var(--ra2);
}

.gall .skill#ra .marker {
  box-shadow: 0px 0px 8px var(--rab);
  
}

.gall .skill#ra .marker#rag1 {
  background: conic-gradient(var(--ra3) calc(360deg * (0.3)), var(--rab) 0deg);
}

.gall .skill#ra .marker#rag2 {
  background: conic-gradient(var(--ra3) calc(360deg * (0.3)), var(--rab) 0deg);
}

.gall .skill#ra .marker#rag3 {
  background: conic-gradient(var(--ra3) calc(360deg * (0.05)), var(--rab) 0deg);
}

.gall .skill#ra .marker::before {
    background: var(--ra1);
}

.gall .skill#ra .marker span.marval {
  color: var(--ra3);
}

.gall .skill#ra .marker:hover {
  box-shadow: 0px 0px 16px var(--rab);
}

.gall .skill#ra .marker:hover::before {
  box-shadow: inset 0px 0px 16px var(--rab);
}




.darkmode .gall .skill#ra .marker {
  box-shadow: 0px 0px 8px var(--ran);
  
}

.darkmode .gall .skill#ra .marker#rag1 {
  background: conic-gradient(var(--ra2) calc(360deg * (0.30)), var(--rax) 0deg);
}

.darkmode .gall .skill#ra .marker#rag2 {
  background: conic-gradient(var(--ra2) calc(360deg * (0.3)), var(--rax) 0deg);
}

.darkmode .gall .skill#ra .marker#rag3 {
  background: conic-gradient(var(--ra2) calc(360deg * (0.05)), var(--rax) 0deg);
}

.darkmode .gall .skill#ra .marker::before {
    background: var(--ra1);
}

.darkmode .gall .skill#ra .marker span.marval {
  color: var(--ra3);
}

.darkmode .gall .skill#ra .marker:hover {
  box-shadow: 0px 0px 16px var(--rax);
}

.darkmode .gall .skill#ra .marker:hover::before {
  box-shadow: inset 0px 0px 16px var(--rax);
}



