:root{
  --i: #0F3560;
  --ii: #3C6385;
  --iii: #6991A9;
  --iv: #95BFCE;
  --v: #C2EDF2;

  --an1: #f4f4f4;  --an2: #84616e;  --an3: #194868;
  --sh1: #f4f4f4;  --sh2: #515151;  --sh3: #222222;
  --za1: #fff2e3;  --za2: #923a3b;  --za3: #130804;
  --ar1: #d8dee5;  --ar2: #4b696b;  --ar3: #1b3436;
  --ca1: #d8e3f3;  --ca2: #508eb7;  --ca3: #0a3466;
  --ch1: #eff4f5;  --ch2: #688295;  --ch3: #424651;
  --gi1: #ffffff;  --gi2: #b5925a;  --gi3: #43485b;
  --ju1: #f5f6f5;  --ju2: #65707a;  --ju3: #2b323c;
  --kn1: #eae9e4;  --kn2: #608190;  --kn3: #243b49;
  --ra1: #fefefe;  --ra2: #5b7e43;  --ra3: #26341d;

  font-family: 'Inter', sans-serif;
}


@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

* {
  text-decoration: none;
  scroll-behavior: smooth;
}

html {
  background: linear-gradient(var(--v), var(--iii))  no-repeat center center fixed;
  background-repeat: no-repeat;
  font-family: Inter, sans-serif;
}

.nav {
  display: flex;
  justify-content: center;
}


nav {
  text-align: center;
  position:fixed;
  top: 0;
  background: linear-gradient(var(--ii), var(--i));
  border-radius: 0px 0px 64px 64px;
  padding: 24px 0%;
  margin: 0% 0% 10% 0%;
  width: 80%;
  min-width: 720px;
  color: var(--v);
  box-shadow: 0px 8px 2em var(--i);
  z-index: 100;
}

nav a {
  display: inline-block;
  color: var(--v);
  font-size: 1.5em;
  margin: 8px 8px 0px 8px;
  padding: 8px;
  border-radius: 16px;
  text-decoration: none;
  font-weight: 600;
}

nav a:hover {
  color: var(--i);
  background-color: var(--v);
  box-shadow: 0px 0px 8px var(--iv);
  transition: 0.5s;
}


nav b {
  font-size: 3.5em;
  font-weight: 1000;
  font-family: 'Source Code Pro', monospace;
}

nav b.subhead {
  display: inline-block;
  align-self: center;
  font-size: 2.5em;
  background:#C2EDF220;
  border-radius: 64px;
  padding: 0.125em 0.5em;
  margin: 0.125em 0.5em;
}

nav b:hover {
  text-shadow: 0px 0px 0.5em var(--iv);
  cursor: default;
  transition: 0.5s;
}

.sp {
  display: block;
  margin: 160px 0px;
}

p {
  font-size: 24px;
  color: var(--i);
  text-align: justify;
  padding: 16px 0px;
  line-height: 32px;}

.button {
  position: fixed;
  border-radius: 256px;
  background: linear-gradient(var(--ii), var(--i));
  right: 0%;
  margin: 0% 1%;
  color: var(--v);
  padding: 1em;
  font-size: 32px;
  cursor: pointer;
  box-shadow: 0px 8px 1em var(--i);
}

.button:hover {
  text-shadow: 0px 0px 16px var(--v);
  transition: 0.5s;
}


.cont { 
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}

.cu { width: 60%;
  max-width: 600px;
  color: var(--i);
  background-color: rgb(194, 237, 242, 0.5);
padding: 0% 5%;
margin: 2.5% 0% 0% 0%;
border-radius: 64px;
box-shadow: 0px 16px 16px var(--iii);
}

.members {
  width: 80%;
  max-width: 800px;
  color: var(--i);
  background-color: rgb(194, 237, 242, 0.5);
  padding: 0% 2.5%;
  margin: 2.5% 0% 0% 0%;
  border-radius: 64px;
  box-shadow: 0px 16px 16px var(--iii);
}

h1 {
  text-align: center;
  color: var(--v);
  background-color: var(--i);
  padding: 8px;
  border-radius: 64px;
  font-size: 3em;
  box-shadow: 0px 8px 16px var(--ii);
}

h1:hover {
  text-shadow: 0px 0px 0.5em var(--iv);
  transition: 0.5s;
}

h2 {
  text-align: center;
  display: inline-block;
  color: var(--v);
  background: linear-gradient(var(--ii), var(--i));
  padding: 16px;
  width: fit-content;
  border-radius: 64px;
  font-size: 2em;

}

img { 
  width: 200px;
  border-radius: 200px;
  float: right;
  margin: 0px 16px;
  border: var(--ii) solid 5px;
  box-shadow: 0px 8px 16px var(--iii);
}

.mem {
  background-color: rgba(194, 237, 242, 0.5);
  padding: 5%;
  margin: 5% 0%;
  border-radius: 64px;
}

.acont {text-align: center;}


#injel {
  background-color: var(--an1);
  color: var(--an3);
  box-shadow: 0px 8px 8px var(--an2);
}

#injel p { color: var(--an3); }
#injel p b { color: var(--an2); }

#injel h2 {
  background: linear-gradient(var(--an2), var(--an3));
  color: var(--an1);
  box-shadow: 0px 8px 16px var(--an3);
}

#injel img {
  border: var(--an3) solid 5px;
  box-shadow: 0px 8px 8px var(--an2);
  transition: 1.5s;
}

#injel h2:hover {
  text-shadow: 0px 0px 16px var(--an1);
  cursor: pointer;
  transition: 0.5s;
}

#injel img:hover {
  cursor: pointer;
  box-shadow: 0px 0px 32px var(--an2);
  transform: rotate(360deg);
}

#injel a {
  color: var(--an2);
  padding: 8px;
  margin: 0px 8px;
  border-radius: 64px;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  transition: 0.5s;
}

#injel a:hover {
  color: var(--an1);
  background: linear-gradient(var(--an2), var(--an3));
  box-shadow: 0px 8px 16px var(--an3);
}


/* PERMEMBER */


#shy {
  background-color: var(--sh1);
  color: var(--sh3);
  box-shadow: 0px 8px 8px var(--sh2);
}

#shy p { color: var(--sh3); }
#shy p b { color: var(--sh2); }

#shy h2 {
  background: linear-gradient(var(--sh2), var(--sh3));
  color: var(--sh1);
  box-shadow: 0px 8px 16px var(--sh3);
}

#shy img {
  border: var(--sh3) solid 5px;
  box-shadow: 0px 8px 8px var(--sh2);
  transition: 1.5s;
}

#shy h2:hover {
  text-shadow: 0px 0px 16px var(--sh1);
  cursor: pointer;
  transition: 0.5s;
}

#shy img:hover {
  cursor: pointer;
  box-shadow: 0px 0px 32px var(--sh2);
  transform: rotate(360deg);
}

#shy a {
  color: var(--sh2);
  padding: 8px;
  margin: 0px 8px;
  border-radius: 64px;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  transition: 0.5s;
}

#shy a:hover {
  color: var(--sh1);
  background: linear-gradient(var(--sh2), var(--sh3));
  box-shadow: 0px 8px 16px var(--sh3);
  
}






#zai {
  background-color: var(--za1);
  color: var(--za3);
  box-shadow: 0px 8px 8px var(--za2);
}

#zai p { color: var(--za3); }
#zai p b { color: var(--za2); }

#zai h2 {
  background: linear-gradient(var(--za2), var(--za3));
  color: var(--za1);
  box-shadow: 0px 8px 16px var(--za3);
}

#zai img {
  border: var(--za3) solid 5px;
  box-shadow: 0px 8px 8px var(--za2);
  transition: 1.5s;
}

#zai h2:hover {
  text-shadow: 0px 0px 16px var(--za1);
  cursor: pointer;
  transition: 0.5s;
}

#zai img:hover {
  cursor: pointer;
  box-shadow: 0px 0px 32px var(--za2);
  transform: rotate(360deg);
}

#zai a {
  color: var(--za2);
  padding: 8px;
  margin: 0px 8px;
  border-radius: 64px;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  transition: 0.5s;
}

#zai a:hover {
  color: var(--za1);
  background: linear-gradient(var(--za2), var(--za3));
  box-shadow: 0px 8px 16px var(--za3);
  
}







#arian {
  background-color: var(--ar1);
  color: var(--ar3);
  box-shadow: 0px 8px 8px var(--ar2);
}

#arian p { color: var(--ar3); }
#arian p b { color: var(--ar2); }

#arian h2 {
  background: linear-gradient(var(--ar2), var(--ar3));
  color: var(--ar1);
  box-shadow: 0px 8px 16px var(--ar3);
}

#arian img {
  border: var(--ar3) solid 5px;
  box-shadow: 0px 8px 8px var(--ar2);
  transition: 1.5s;
}

#arian h2:hover {
  text-shadow: 0px 0px 16px var(--ar1);
  cursor: pointer;
  transition: 0.5s;
}

#arian img:hover {
  cursor: pointer;
  box-shadow: 0px 0px 32px var(--ar2);
  transform: rotate(360deg);
}

#arian a {
  color: var(--ar2);
  padding: 8px;
  margin: 0px 8px;
  border-radius: 64px;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  transition: 0.5s;
}

#arian a:hover {
  color: var(--ar1);
  background: linear-gradient(var(--ar2), var(--ar3));
  box-shadow: 0px 8px 16px var(--ar3);
  
}





#carlos {
  background-color: var(--ca1);
  color: var(--ca3);
  box-shadow: 0px 8px 8px var(--ca2);
}

#carlos p { color: var(--ca3); }
#carlos p b { color: var(--ca2); }

#carlos h2 {
  background: linear-gradient(var(--ca2), var(--ca3));
  color: var(--ca1);
  box-shadow: 0px 8px 16px var(--ca3);
}

#carlos img {
  border: var(--ca3) solid 5px;
  box-shadow: 0px 8px 8px var(--ca2);
  transition: 1.5s;
}

#carlos h2:hover {
  text-shadow: 0px 0px 16px var(--ca1);
  cursor: pointer;
  transition: 0.5s;
}

#carlos img:hover {
  cursor: pointer;
  box-shadow: 0px 0px 32px var(--ca2);
  transform: rotate(360deg);
}

#carlos a {
  color: var(--ca2);
  padding: 8px;
  margin: 0px 8px;
  border-radius: 64px;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  transition: 0.5s;
}

#carlos a:hover {
  color: var(--ca1);
  background: linear-gradient(var(--ca2), var(--ca3));
  box-shadow: 0px 8px 16px var(--ca3);
  
}





#chris {
  background-color: var(--ch1);
  color: var(--ch3);
  box-shadow: 0px 8px 8px var(--ch2);
}

#chris p { color: var(--ch3); }
#chris p b { color: var(--ch2); }


#chris h2 {
  background: linear-gradient(var(--ch2), var(--ch3));
  color: var(--ch1);
  box-shadow: 0px 8px 16px var(--ch3);
}

#chris img {
  border: var(--ch3) solid 5px;
  box-shadow: 0px 8px 8px var(--ch2);
  transition: 1.5s;
}

#chris h2:hover {
  text-shadow: 0px 0px 16px var(--ch1);
  cursor: pointer;
  transition: 0.5s;
}

#chris img:hover {
  cursor: pointer;
  box-shadow: 0px 0px 32px var(--ch2);
  transform: rotate(360deg);
}

#chris a {
  color: var(--ch2);
  padding: 8px;
  margin: 0px 8px;
  border-radius: 64px;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  transition: 0.5s;
}

#chris a:hover {
  color: var(--ch1);
  background: linear-gradient(var(--ch2), var(--ch3));
  box-shadow: 0px 8px 16px var(--ch3);
  
}





#gian {
  background-color: var(--gi1);
  color: var(--gi3);
  box-shadow: 0px 8px 8px var(--gi2);
}

#gian p { color: var(--gi3); }
#gian p b { color: var(--gi2); }

#gian h2 {
  background: linear-gradient(var(--gi2), var(--gi3));
  color: var(--gi1);
  box-shadow: 0px 8px 16px var(--gi3);
}

#gian img {
  border: var(--gi3) solid 5px;
  box-shadow: 0px 8px 8px var(--gi2);
  transition: 1.5s;
}

#gian h2:hover {
  text-shadow: 0px 0px 16px var(--gi1);
  cursor: pointer;
  transition: 0.5s;
}

#gian img:hover {
  cursor: pointer;
  box-shadow: 0px 0px 32px var(--gi2);
  transform: rotate(360deg);
}

#gian a {
  color: var(--gi2);
  padding: 8px;
  margin: 0px 8px;
  border-radius: 64px;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  transition: 0.5s;
}

#gian a:hover {
  color: var(--gi1);
  background: linear-gradient(var(--gi2), var(--gi3));
  box-shadow: 0px 8px 16px var(--gi3);
  
}





#jul {
  background-color: var(--ju1);
  color: var(--ju3);
  box-shadow: 0px 8px 8px var(--ju2);
}

#jul p { color: var(--ju3); }
#jul p b { color: var(--ju2); }

#jul h2 {
  background: linear-gradient(var(--ju2), var(--ju3));
  color: var(--ju1);
  box-shadow: 0px 8px 16px var(--ju3);
}

#jul img {
  border: var(--ju3) solid 5px;
  box-shadow: 0px 8px 8px var(--ju2);
  transition: 1.5s;
}

#jul h2:hover {
  text-shadow: 0px 0px 16px var(--ju1);
  cursor: pointer;
  transition: 0.5s;
}

#jul img:hover {
  cursor: pointer;
  box-shadow: 0px 0px 32px var(--ju2);
  transform: rotate(360deg);
}

#jul a {
  color: var(--ju2);
  padding: 8px;
  margin: 0px 8px;
  border-radius: 64px;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  transition: 0.5s;
}

#jul a:hover {
  color: var(--ju1);
  background: linear-gradient(var(--ju2), var(--ju3));
  box-shadow: 0px 8px 16px var(--ju3);
  
}




#ken {
  background-color: var(--kn1);
  color: var(--kn3);
  box-shadow: 0px 8px 8px var(--kn2);
}

#ken p { color: var(--kn3); }
#ken p b { color: var(--kn2); }

#ken h2 {
  background: linear-gradient(var(--kn2), var(--kn3));
  color: var(--kn1);
  box-shadow: 0px 8px 16px var(--kn3);
}

#ken img {
  border: var(--kn3) solid 5px;
  box-shadow: 0px 8px 8px var(--kn2);
  transition: 1.5s;
}

#ken h2:hover {
  text-shadow: 0px 0px 16px var(--kn1);
  cursor: pointer;
  transition: 0.5s;
}

#ken img:hover {
  cursor: pointer;
  box-shadow: 0px 0px 32px var(--kn2);
  transform: rotate(360deg);
}

#ken a {
  color: var(--kn2);
  padding: 8px;
  margin: 0px 8px;
  border-radius: 64px;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  transition: 0.5s;
}

#ken a:hover {
  color: var(--kn1);
  background: linear-gradient(var(--kn2), var(--kn3));
  box-shadow: 0px 8px 16px var(--kn3);
  
}




#razo {
  background-color: var(--ra1);
  color: var(--ra3);
  box-shadow: 0px 8px 8px var(--ra2);
}

#razo p { color: var(--ra3); }
#razo p b { color: var(--ra2); }


#razo h2 {
  background: linear-gradient(var(--ra2), var(--ra3));
  color: var(--ra1);
  box-shadow: 0px 8px 16px var(--ra3);
}

#razo img {
  border: var(--ra3) solid 5px;
  box-shadow: 0px 8px 8px var(--ra2);
  transition: 1.5s;
}

#razo h2:hover {
  text-shadow: 0px 0px 16px var(--ra1);
  cursor: pointer;
  transition: 0.5s;
}

#razo img:hover {
  cursor: pointer;
  box-shadow: 0px 0px 32px var(--ra2);
  transform: rotate(360deg);
}

#razo a {
  color: var(--ra2);
  padding: 8px;
  margin: 0px 8px;
  border-radius: 64px;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  transition: 0.5s;
}

#razo a:hover {
  color: var(--ra1);
  background: linear-gradient(var(--ra2), var(--ra3));
  box-shadow: 0px 8px 16px var(--ra3);
  
}

#Gallery img { 
  float: none;
  margin: 16px 0px;
  border-radius: 16px;
  width: 100%;
}

.stamp p {
  text-align: center;
  padding: 1em 2em;
  color: var(--ii);
}

.stamp a, .stamp a:visited {
  font-size: 1em;
  padding: 12px;
  margin: 1em;
  font-weight: 700;
  text-shadow: 0px 0px 8px var(--iv);
  border-radius: 200px;
  text-decoration: none;
  color: var(--i);
}

.stamp a:hover {
  background: linear-gradient(var(--ii), var(--i));
  color: var(--v);
  transition: 0.5s;
  
}

.darkmode {
  --i: #C2EDF2;
  --ii: #95BFCE;
  --iii: #6991A9;
  --iv: #3C6385;
  --v: #12355c;
  --vi: #06203e;
  --vih: #00183340;
  --vii: #001833;

  /** penis **/

  --an0: #0d131b;  --an1: #25303f;  --ann: #1B3A53;  --anx: #194868;  --an2: #b45f7e;  --an3: #f4f4f4;
  --sh0: #0f0f0f;  --sh1: #202020;  --shn: #333333;  --shx: #3e3e3e;  --sh2: #9a9a9a;  --sh3: #f4f4f4;
  --za0: #0c0808;  --za1: #242121;  --zan: #532425;  --zax: #812728;  --za2: #c25b5d;  --za3: #fff2e4;
  --ar0: #0f1414;  --ar1: #1c2020;  --arn: #33494e;  --arx: #38626d;  --ar2: #659ba8;  --ar3: #d8dee5;
  --ca0: #0c1014;  --ca1: #131b25;  --can: #0F2846;  --cax: #0a3466;  --ca2: #3e87b8;  --ca3: #d8e3f3; 
  --ch0: #17171a;  --ch1: #272e33;  --chn: #374148;  --chx: #46535c;  --ch2: #8da3b3;  --ch3: #eff4f5; 
  --gi0: #18181b;  --gi1: #2c2e3a;  --gin: #36394B;  --gix: #3f445c;  --gi2: #b5925a;  --gi3: #fdfdfd;
  --ju0: #090d11;  --ju1: #12161b;  --jun: #1F242C;  --jux: #2b323c;  --ju2: #65707a;  --ju3: #f3f3f3; 
  --kn0: #11161a;  --kn1: #141e24;  --knn: #1E2D36;  --knx: #243b49;  --kn2: #608190;  --kn3: #eae9e4;
  --ra0: #11130e;  --ra1: #191d16;  --ran: #344B23;  --rax: #426128;  --ra2: #97c342;  --ra3: #fefefe;
}

.darkmode .button {
  background: linear-gradient(var(--i), var(--ii));
  -webkit-text-stroke-color: 4px;
  -webkit-text-stroke-color: var(--vi);
}

html.darkmode {
  background: linear-gradient(var(--iv), var(--vi))  no-repeat center center fixed;
}

nav.darkmode {
  background: linear-gradient(var(--v), var(--vii));
  box-shadow: 0px 8px 2em var(--vi);
  color: var(--i);
}

.darkmode .button {
  background: linear-gradient(var(--v), var(--vii));
  box-shadow: 0px 8px 1em var(--vi);
}

nav.darkmode a {
  color: var(--i);
}

nav.darkmode a:hover {
  color: var(--v);
  background-color: var(--i);
  box-shadow: 0px 0px 8px var(--ii);
}

.darkmode h1 {
  box-shadow: 0px 8px 16px var(--vi);
  background-color: var(--vii);
  color: var(--i);
}

.cu.darkmode, .members.darkmode{
  background-color: var(--vih);
  box-shadow: 0px 16px 16px var(--vi);
}

/** DARKMODE PERMEMBER **/

.darkmode #injel {
  background-color: var(--an1);
  color: var(--an3);
  box-shadow: 0px 8px 8px var(--an0);
}

.darkmode #injel p { color: var(--an3); }

.darkmode #injel h2 {
  background: linear-gradient(var(--an2), var(--anx));
  color: var(--an3);
  box-shadow: 0px 8px 16px var(--ann);
}

.darkmode #injel img {
  border: var(--an3) solid 5px;
  box-shadow: 0px 0px 8px var(--an2);
}

.darkmode #injel h2:hover {
  text-shadow: 0px 0px 16px var(--an3);
}

.darkmode #injel img:hover {
  box-shadow: 0px 0px 32px var(--an2);
}

.darkmode #injel a {
  color: var(--an2);
}

.darkmode #injel a:hover {
  color: var(--an3);
  background: linear-gradient(var(--an2), var(--anx));
  box-shadow: 0px 8px 16px var(--ann);
}

/* PERMEMBER */


.darkmode #shy {
  background-color: var(--sh1);
  color: var(--sh3);
  box-shadow: 0px 8px 8px var(--sh0);
}

.darkmode #shy p { color: var(--sh3); }

.darkmode #shy h2 {
  background: linear-gradient(var(--sh2), var(--shx));
  color: var(--sh3);
  box-shadow: 0px 8px 16px var(--shn);
}

.darkmode #shy img {
  border: var(--sh3) solid 5px;
  box-shadow: 0px 0px 8px var(--sh2);
}

.darkmode #shy h2:hover {
  text-shadow: 0px 0px 16px var(--sh3);
}

.darkmode #shy img:hover {
  box-shadow: 0px 0px 32px var(--sh2);
}

.darkmode #shy a {
  color: var(--sh2);
}

.darkmode #shy a:hover {
  color: var(--sh3);
  background: linear-gradient(var(--sh2), var(--shx));
  box-shadow: 0px 8px 16px var(--shn);
}



.darkmode #zai {
  background-color: var(--za1);
  color: var(--za3);
  box-shadow: 0px 8px 8px var(--za0);
}

.darkmode #zai p { color: var(--za3); }

.darkmode #zai h2 {
  background: linear-gradient(var(--za2), var(--zax));
  color: var(--za3);
  box-shadow: 0px 8px 16px var(--zan);
}

.darkmode #zai img {
  border: var(--za3) solid 5px;
  box-shadow: 0px 0px 8px var(--za2);
}

.darkmode #zai h2:hover {
  text-shadow: 0px 0px 16px var(--za3);
}

.darkmode #zai img:hover {
  box-shadow: 0px 0px 32px var(--za2);
}

.darkmode #zai a {
  color: var(--za2);
}

.darkmode #zai a:hover {
  color: var(--za3);
  background: linear-gradient(var(--za2), var(--zax));
  box-shadow: 0px 8px 16px var(--zan);
}



.darkmode #arian {
  background-color: var(--ar1);
  color: var(--ar3);
  box-shadow: 0px 8px 8px var(--ar0);
}

.darkmode #arian p { color: var(--ar3); }

.darkmode #arian h2 {
  background: linear-gradient(var(--ar2), var(--arx));
  color: var(--ar3);
  box-shadow: 0px 8px 16px var(--arn);
}

.darkmode #arian img {
  border: var(--ar3) solid 5px;
  box-shadow: 0px 0px 8px var(--ar2);
}

.darkmode #arian h2:hover {
  text-shadow: 0px 0px 16px var(--ar3);
}

.darkmode #arian img:hover {
  box-shadow: 0px 0px 32px var(--ar2);
}

.darkmode #arian a {
  color: var(--ar2);
}

.darkmode #arian a:hover {
  color: var(--ar3);
  background: linear-gradient(var(--ar2), var(--arx));
  box-shadow: 0px 8px 16px var(--arn);
}




.darkmode #carlos {
  background-color: var(--ca1);
  color: var(--ca3);
  box-shadow: 0px 8px 8px var(--ca0);
}

.darkmode #carlos p { color: var(--ca3); }

.darkmode #carlos h2 {
  background: linear-gradient(var(--ca2), var(--cax));
  color: var(--ca3);
  box-shadow: 0px 8px 16px var(--can);
}

.darkmode #carlos img {
  border: var(--ca3) solid 5px;
  box-shadow: 0px 0px 8px var(--ca2);
}

.darkmode #carlos h2:hover {
  text-shadow: 0px 0px 16px var(--ca3);
}

.darkmode #carlos img:hover {
  box-shadow: 0px 0px 32px var(--ca2);
}

.darkmode #carlos a {
  color: var(--ca2);
}

.darkmode #carlos a:hover {
  color: var(--ca3);
  background: linear-gradient(var(--ca2), var(--cax));
  box-shadow: 0px 8px 16px var(--can);
}


.darkmode #chris {
  background-color: var(--ch1);
  color: var(--ch3);
  box-shadow: 0px 8px 8px var(--ch0);
}

.darkmode #chris p { color: var(--ch3); }

.darkmode #chris h2 {
  background: linear-gradient(var(--ch2), var(--chx));
  color: var(--ch3);
  box-shadow: 0px 8px 16px var(--chn);
}

.darkmode #chris img {
  border: var(--ch3) solid 5px;
  box-shadow: 0px 0px 8px var(--ch2);
}

.darkmode #chris h2:hover {
  text-shadow: 0px 0px 16px var(--ch3);
}

.darkmode #chris img:hover {
  box-shadow: 0px 0px 32px var(--ch2);
}

.darkmode #chris a {
  color: var(--ch2);
}

.darkmode #chris a:hover {
  color: var(--ch3);
  background: linear-gradient(var(--ch2), var(--chx));
  box-shadow: 0px 8px 16px var(--chn);
}




.darkmode #gian {
  background-color: var(--gi1);
  color: var(--gi3);
  box-shadow: 0px 8px 8px var(--gi0);
}

.darkmode #gian p { color: var(--gi3); }

.darkmode #gian h2 {
  background: linear-gradient(var(--gi2), var(--gix));
  color: var(--gi3);
  box-shadow: 0px 8px 16px var(--gin);
}

.darkmode #gian img {
  border: var(--gi3) solid 5px;
  box-shadow: 0px 0px 8px var(--gi2);
}

.darkmode #gian h2:hover {
  text-shadow: 0px 0px 16px var(--gi3);
}

.darkmode #gian img:hover {
  box-shadow: 0px 0px 32px var(--gi2);
}

.darkmode #gian a {
  color: var(--gi2);
}

.darkmode #gian a:hover {
  color: var(--gi3);
  background: linear-gradient(var(--gi2), var(--gix));
  box-shadow: 0px 8px 16px var(--gin);
}




.darkmode #jul {
  background-color: var(--ju1);
  color: var(--ju3);
  box-shadow: 0px 8px 8px var(--ju0);
}

.darkmode #jul p { color: var(--ju3); }

.darkmode #jul h2 {
  background: linear-gradient(var(--ju2), var(--jux));
  color: var(--ju3);
  box-shadow: 0px 8px 16px var(--jun);
}

.darkmode #jul img {
  border: var(--ju3) solid 5px;
  box-shadow: 0px 0px 8px var(--ju2);
}

.darkmode #jul h2:hover {
  text-shadow: 0px 0px 16px var(--ju3);
}

.darkmode #jul img:hover {
  box-shadow: 0px 0px 32px var(--ju2);
}

.darkmode #jul a {
  color: var(--ju2);
}

.darkmode #jul a:hover {
  color: var(--ju3);
  background: linear-gradient(var(--ju2), var(--jux));
  box-shadow: 0px 8px 16px var(--jun);
}



.darkmode #ken {
  background-color: var(--kn1);
  color: var(--kn3);
  box-shadow: 0px 8px 8px var(--kn0);
}

.darkmode #ken p { color: var(--kn3); }

.darkmode #ken h2 {
  background: linear-gradient(var(--kn2), var(--knx));
  color: var(--kn3);
  box-shadow: 0px 8px 16px var(--knn);
}

.darkmode #ken img {
  border: var(--kn3) solid 5px;
  box-shadow: 0px 0px 8px var(--kn2);
}

.darkmode #ken h2:hover {
  text-shadow: 0px 0px 16px var(--kn3);
}

.darkmode #ken img:hover {
  box-shadow: 0px 0px 32px var(--kn2);
}

.darkmode #ken a {
  color: var(--kn2);
}

.darkmode #ken a:hover {
  color: var(--kn3);
  background: linear-gradient(var(--kn2), var(--knx));
  box-shadow: 0px 8px 16px var(--knn);
}



.darkmode #razo {
  background-color: var(--ra1);
  color: var(--ra3);
  box-shadow: 0px 8px 8px var(--ra0);
}

.darkmode #razo p { color: var(--ra3); }

.darkmode #razo h2 {
  background: linear-gradient(var(--ra2), var(--rax));
  color: var(--ra3);
  box-shadow: 0px 8px 16px var(--ran);
}

.darkmode #razo img {
  border: var(--ra3) solid 5px;
  box-shadow: 0px 0px 8px var(--ra2);
}

.darkmode #razo h2:hover {
  text-shadow: 0px 0px 16px var(--ra3);
}

.darkmode #razo img:hover {
  box-shadow: 0px 0px 32px var(--ra2);
}

.darkmode #razo a {
  color: var(--ra2);
}

.darkmode #razo a:hover {
  color: var(--ra3);
  background: linear-gradient(var(--ra2), var(--rax));
  box-shadow: 0px 8px 16px var(--ran);
}